doctype html
html(lang='en')
  head
    title Event Planner
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/typeahead.min.js')
  
    style.
      table.ui.celled img { display: inline-block; }
      footer { margin: 35px 0 15px 0; text-align: center }
  body
    main#main
    h1.ui.center.aligned.header Event Planner
    
    .ui.search
      .ui.icon.input
      input.typeahead.tt-query(spellcheck='false' autocomplete='off' name='typeahead' type='text')
      i.search.icon
    .results

    ui.container
      table.ui.celled.table.center.aligned
        thead
          tr
            th Name
            th City
        tbody
          each event in events
            tr
              td #{event.eventname}
              td #{event.city}