:root {
  --green: #008000;
  --grey: #333333;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.input{
  margin-bottom: 1%;
  margin-top: 3%;
}

.text {
  margin-top: 0.5em;
  color: var(--grey);
  font-size: larger;
}

.formdiv {display: table-cell;
  padding: 20px 10px 20px 10px; /* t r b l*/
  margin: 20px 10px 20px 30px; /* t r b l*/
  border-radius: 10px ;
  width: 60%;
  border-spacing: 10px;
  border: solid 2px lightgray;
  text-align : center;
}

.footer > .copyright {
  margin: 1em;
}

/*main*/
#search_container{
  margin-left: 3%;
}

#table_container{
  margin-left: 3%;
  margin-right: 3%;
}

.footer { margin: 35px 0 15px 0; text-align: center }

.grid-container{
  display: grid;
}

/*ui edits*/
h2.ui.header{
  margin-top: 0;
  margin-bottom: 12px;
}

h3.ui.header{
  margin-top: 0;
  margin-bottom: 4px;
}

p{
  margin-bottom: 2px;
}

.image{
  margin: 10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 20% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 28%;
  border-radius: 18px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* header navbar*/
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.title {
    font-size: 2rem;
    margin-right: 45%;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 700;
    line-height: 1.28571429em;
    text-transform: none;
    color: rgba(0,0,0,.87);
}

.logo{
  margin: 1%;
}

ul li {
  display: inline-block; /* inline*/
  list-style-type: none;
  margin-top: 2%;
  margin-right: 5%;
  /* padding-bottom: 5px; */
  font-size: 16pt;
  border: 2px;
}

.nav_link{
  color: rgb(59, 0, 99);
  font-weight: 100;
}
.nav_link:hover {
  color: rgb(89, 0, 148);
  font-weight: 200;
}

.headerbar{
  FONT-WEIGHT: 600;
  height: 100px;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, rgba(91, 0, 133, 0.555), rgba(156, 56, 202, 0.658));
}