doctype html
html(lang='en')
head
  include includes/head.pug

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script(src='https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js')
  //script(src='https://code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous')
  
  form(action="", method="post") 
    main#main
    each event in events
      h1.ui.center.aligned.header Add #{event.eventname}
      .ui.placeholder.segment
        .ui.two.column.stackable.grid.container
          .middle.aligned.column
            .ui.middle.aligned.large.image()
              //- image(src=event.inagelink)
              img(src =event.inagelink alt =`${event.eventname}`
                  style='height:300px; float:left')
          .column
            .ui.form
              .field
                label Start Date-Time
                div#datetimepicker1.input-group.date
                  input.form-control(type='text')
                  span.input-group-addon
                    span.glyphicon.glyphicon-calendar
              .field
                label End Date-Time
                div#datetimepicker2.input-group.date
                  input.form-control(type='text')
                  span.input-group-addon
                    span.glyphicon.glyphicon-calendar
              .field 
                label Notes
                textarea(type='text' name='notes' maxlength='50')
              .ui.blue.submit.button Add to Calendar
        //
                div.form-group
                  label.control-label Start Date-Time
                  div#datetimepicker1.input-group.date
                    input.form-control(type='text')
                    span.input-group-addon
                      span.glyphicon.glyphicon-calendar
                  br
                  label.control-label End Date-Time
                  div#datetimepicker2.input-group.date
                    input.form-control(type='text')
                    span.input-group-addon
                      span.glyphicon.glyphicon-calendar
                  br
                  label.control-label Notes
                  input#notes.form-control(type='text' name='notes' maxlength='50')
                  //- input#temp_dt.form-control(type='datetime-locale' name='temp_dt' )
          input.btn.btn-primary(type='submit' value='Add To Calendar')
      
    include includes/footer.pug

script.
    $(function () {
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker();
    });