doctype html
html
  include includes/head.pug
  body
    main#main
      .ui.raised.segment
        .ui.grid.container         
          .middle.aligned.column
            .ui.form.middle
              .field
                h2 #{subheading1}
              .field  
                h3 #{subheading2}
            br
            br
            br
    include includes/footer.pug